


li a:hover {
    background-color: rgb(0, 0, 0);
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}


li {
    margin-bottom: 50px;
    margin-top: 0;
    float: left;
}
 
li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}





h1 {

    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Lobster', cursive;

}
body{

    background-color: rgb(194, 238, 250);
}

